<mat-toolbar style="position: fixed;">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    </button>
    <span>Ladenliebe</span>

    <button style="right: 20px; position: fixed; font-weight: bold;" routerLink="/merchantRedirect" *ngIf="!isLoggedIn">
      Für Unternehmen
    </button>
    <button style="right: 20px; position: fixed; font-weight: bold;" routerLink="/dashboard" *ngIf="isLoggedIn">
      Mein Unternehmen
    </button>
  </mat-toolbar-row>
</mat-toolbar>
