<div class="mitte">
<br><br>
    <h2 style="margin-bottom: 10px;">Yeah.</h2>

    <div class="formGroup" *ngIf="authService.userData as user">
      <p style="margin: 0 15px 12px;">Dein Konto wurde erfolgreich angelegt. <br>
        Wir haben dir eine Bestätigungsmail gesendet: <strong>{{user.email}}</strong>. <br>
        Bitte klicke auf den Link in der E-Mail um die Registrierung anzuschließen.</p>
    </div>

    <!-- Calling SendVerificationMail() method using authService Api -->
    <div>
    <button mat-button type="button" (click)="authService.SendVerificationMail()">Bestätigunsemail erneut senden</button>
    </div>

  <br>

    <div>
      <button class="button-2" onClick="window.open('/login', '_self')">Zurück zum Login</button>
    </div>
</div>
