<div class="mitte">

<ng-container *ngIf="actionCodeChecked && !actionCodeOLD; else wrongCode" [ngSwitch]="mode">

      <!-- Reset Password -->
      <ng-container *ngSwitchCase="'resetPassword'">
        <div>
          <div>
            <!--user input-->
            <div *ngIf="!loginButtonActive" class="inflex">
              <br>
              <h2>Passwort ändern</h2>
                <p>Bitte gib dein neues Passwort zwei mal ein.</p>

                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Neues Passwort </mat-label>
                  <input matInput [(ngModel)]="newPassword" type="password" id="newPassword" name="newPassword" placeholder="Neues Passwort">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Passwort erneut eingeben</mat-label>
                  <input matInput [(ngModel)]="confirmPassword" type="password" id="confirmPassword" name="confirmPassword" placeholder="Passwort erneut eingeben">
                </mat-form-field>

                <button mat-button (click)="handleResetPassword()">Passwort ändern</button>
              </div>

              <!--onSucess-->
              <div *ngIf="loginButtonActive">
                  <br>
                  <h2>Erfolg! Juhu.</h2>
                  <p>Das neue Passwort wurde gespeichert.</p>
                  <button mat-button routerLink="/login">Zurück zum Login</button>
              </div>
          </div>
        </div>
      </ng-container>

      <br><br><br><br>

      <!-- Recover Email -->
      <ng-container *ngSwitchCase="'recoverEmail'"></ng-container>

      <br><br><br><br>
      <!-- Verify Email -->
      <ng-container *ngSwitchCase="'verifyEmail'">
          <div>
              <div>
                  <br>
                  <h2>Sehr schön!</h2>
                  <p>Du hast deine E-Mail-Adresse <br> erfolgreich bestätigt.</p>
                  <button mat-button onClick="window.open('/login', '_self')">Weiter</button>
              </div>
            </div>
      </ng-container>
      <div *ngIf="actionCodeOLD">
        <p>Dieser Link wurde bereits verwendet</p>
      </div>

    </ng-container>

    <ng-template #wrongCode>
      <div>
        <br><br>
        <img src="/assets/pics/undraw_cancel_u1it.svg" alt="error" width="200px">
        <br><br>
        <p style="margin: 0 15px 20px;">Dieser Link ist ungültig oder bereits abgelaufen.</p>
        <button mat-button onClick="window.open('/login', '_self')">Zum Login</button>
        <br><br>
      </div>
    </ng-template>

</div>
