<div class="nav" routerLink="/merchantRedirect">
  <p>Zurück</p>
</div>


<div class="mitte">
<br><br><br>
<br><br>
  <img src="/assets/pics/undraw_data_extraction_ih3n.svg" alt="login" width="200px">
<br><br>

  <form #loginForm="ngForm" (ngSubmit)="onLoginSubmit(loginForm)" class="inflex">

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>E-Mail </mat-label>
      <input matInput type="email" name="email" placeholder="E-Mailadresse" autocomplete="email" email=true required ngModel>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Passwort </mat-label>
      <input matInput type="password" name="password" autocomplete="current-password" placeholder="Passwort" required ngModel>
    </mat-form-field>

      <button mat-button appearance="outline" type="submit">Login</button>
  </form>
</div>
