<div class="mitte" *ngIf="merchantData;else noData">


    <br><br>
    <img src="assets\pics\undraw_my_location_f9pr.svg" alt="welcome" width="200px">
    <br>
    <h2>Standort anlegen</h2>
    
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Name </mat-label>
            <input matInput type="text" name="name" placeholder="name" autocomplete="off" required [(ngModel)]="merchantData.name">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Name (Geläufig/Umgangssprache)</mat-label>
            <input matInput type="text" name="commonName" placeholder="name" autocomplete="off" required [(ngModel)]="merchantData.commonName">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Telefonnummer</mat-label>
            <input matInput type="tel" name="tel" placeholder="Telefonnummer" autocomplete="tel" required [(ngModel)]="merchantData.tel">
        </mat-form-field>

        <!--
        <div class="googleSearch">
          <mat-search-google-maps-autocomplete appearance="outline"
          country="de"
          (onGermanAddressMapped)="onGermanAddressMapped($event)">
          </mat-search-google-maps-autocomplete>
        </div>
        -->

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Spendenziel</mat-label>
            <input matInput type="number" name="maxvalue" placeholder="z.B.: 150,50€" min="0" max="5000" autocomplete="off" required [(ngModel)]="merchantData.maxvalue">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>PayPal link</mat-label>
            <input matInput type="url" name="paypal" placeholder="z.B.: https://paypal.me/..."  autocomplete="off" required [(ngModel)]="merchantData.paypal">
        </mat-form-field>

       
        <mat-slide-toggle (change)="onVoucherChange($event)">Gutscheine</mat-slide-toggle>
        

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Website</mat-label>
            <input matInput type="url" name="website" placeholder="https://"  autocomplete="url"  [(ngModel)]="merchantData.website">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Facebook / Instagram</mat-label>
            <input matInput type="url" name="facebook" placeholder="https://"  autocomplete="url"  [(ngModel)]="merchantData.facebook">
        </mat-form-field>


        <!-- datepicker -->
        <mat-form-field  class="example-full-width" appearance="outline">
            <mat-label>Geschlossen seit</mat-label> 
            <input matInput [matDatepicker]="picker" [value]="closedSinceFromControl?.value" (dateChange)="setClosedSinceDate('change', $event)" >
            <mat-datepicker-toggle  matSuffix [for]="picker" ></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
        </mat-form-field> <br>


        <br>
          <div>{{ uploadPercent | async }}</div>
          <img [src]="(downloadURL | async) || 'https://shortpixel.com/img/robot_lookleft_wink_big.png'" alt="yourimage" class="uploadimage">
        <br>

        <label for="input-file-id" class="custom-file-upload">
          <input [disabled]="autoAdress == undefined" (change)="uploadLogo($event)" class="ng-hide" id="input-file-id" multiple type="file" style="display: none;"/>
          Logo hochladen
        </label>

        <label for="input-file-hero" class="custom-file-upload">
          <input [disabled]="autoAdress == undefined" (change)="uploadLogo($event)" class="ng-hide" id="input-file-id" multiple type="file" style="display: none;"/>
          Weiteres Bild hochladen
        </label>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label> Anzahl Mitarbeiter </mat-label>
            <input matInput type="number" name="valueMitarbeiter" placeholder="z.B.: 10" [(ngModel)]="merchantData.valueMitarbeiter">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Beschreibung</mat-label>
            <textarea matNativeControl  name="description" [(ngModel)]="merchantData.description"> </textarea>
        </mat-form-field>

        <button mat-button color="primary" type="button" (click)="onSubmit()">Unternehmen aktualisieren</button>
    <br><br>
</div>


    

<ng-template #noData>
    <!-- //todo: design-->
    <h1>Laden</h1>
</ng-template>