<div class="nav" routerLink="/merchantRedirect">
  <p>Zurück</p>
</div>

<div class="mitte">
      <br><br><br><br><br>
      <img src="/assets/pics/undraw_portfolio_feedback_exfk.svg" alt="welcome" width="200px">
      <br>
      <h2 style="margin-bottom: 10px;">Profil erstellen</h2>
      <p style="margin: 0 15px 12px;">Bitte richte dir ein Konto ein um dein Unternehmen hinzuzufügen.</p>

    <form #registerForm="ngForm" (ngSubmit)="onRegisterSubmit(registerForm)" class="inflex">

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Vorname </mat-label>
            <input matInput type="text" name="firstname" placeholder="Vorname" autocomplete="given-name" required ngModel>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nachname </mat-label>
            <input matInput type="text" name="lastname" placeholder="Nachname" autocomplete="name" required ngModel>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>E-Mail </mat-label>
            <input matInput type="email" name="email" placeholder="E-Mail" autocomplete="email" required ngModel>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Telefonnummer </mat-label>
            <input matInput type="number" name="phoneNumber" placeholder="Telefonnummer" autocomplete="phoneNumber" required ngModel>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Passwort </mat-label>
            <input matInput type="password" name="passwortone" placeholder="Passwort" autocomplete="new-password" required ngModel>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Passwort wiederholen</mat-label>
            <input matInput type="password" name="passworttwo" placeholder="Passwort wiederholen" autocomplete="new-password" required ngModel>
        </mat-form-field>

        <button mat-button appearance="outline" type="submit" [disabled]="registerForm.status === 'INVALID' || registerForm.value.passwortone != registerForm.value.passworttwo" >Registrieren</button>
        <br><br>
    </form>

  <div *ngIf="onErr">
      <h2>Oh nein</h2>
      <p>Es ist ein Fehler aufgetreten.</p>
  </div>
</div>
