<div class="nav" routerLink="/leo">
  <p>Abbrechen</p>
</div>

<div style="height: 70px;"></div>

<div class="mitte">
    <br><br>
    <img src="assets\pics\undraw_my_location_f9pr.svg" alt="welcome" width="200px">
    <br><br>
    <h2>Standort anlegen</h2>
    <form #addLocationForm="ngForm" (ngSubmit)="onSubmit(addLocationForm)" class="inflex">

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Name </mat-label>
            <input matInput type="text" name="name" placeholder="name" autocomplete="off" required ngModel>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Name (Geläufig/Umgangssprache)</mat-label>
            <input matInput type="text" name="commonName" placeholder="name" autocomplete="off" required ngModel>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Telefonnummer</mat-label>
            <input matInput type="tel" name="tel" placeholder="Telefonnummer" autocomplete="tel" required ngModel>
        </mat-form-field>

        <div class="googleSearch">
          <mat-search-google-maps-autocomplete appearance="outline"
          country="de"
          (onGermanAddressMapped)="onGermanAddressMapped($event)">
          </mat-search-google-maps-autocomplete>
        </div>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Spendenziel</mat-label>
            <input matInput type="number" name="maxvalue" placeholder="z.B.: 150,50€" min="0" max="5000" autocomplete="off" required ngModel>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>PayPal link</mat-label>
            <input matInput type="url" name="paypal" placeholder="z.B.: https://paypal.me/..."  autocomplete="off" required ngModel>
        </mat-form-field>


        <mat-slide-toggle style="margin: 10px auto;" (change)="onVoucherChange($event)">Wir werden Gutscheine verschicken</mat-slide-toggle>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>UmsatzsteuerID</mat-label>
            <input matInput type="text" name="umsID" placeholder="UmsatzsteuerID"  autocomplete="off" required ngModel>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Handelsregisternummer</mat-label>
            <input matInput type="text" name="handNmr" placeholder="Handelsregisternummer"  autocomplete="off" required ngModel>
        </mat-form-field>


        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Website</mat-label>
            <input matInput type="url" name="website" placeholder="https://"  autocomplete="url"  ngModel>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Facebook / Instagram</mat-label>
            <input matInput type="url" name="facebook" placeholder="https://"  autocomplete="url"  ngModel>
        </mat-form-field>


        <!-- datepicker -->
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Geschlossen seit</mat-label>
            <input matInput [matDatepicker]="picker" (dateChange)="setClosedSinceDate('change', $event)">
            <mat-datepicker-toggle  matSuffix [for]="picker" ></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
        </mat-form-field> <br>


        <br>
          <div>{{ uploadPercent | async }}</div>
          <img [src]="(downloadURL | async) || 'https://shortpixel.com/img/robot_lookleft_wink_big.png'" alt="yourimage" class="uploadimage">
        <br>

        <label for="input-file-id" class="custom-file-upload">
          <input [disabled]="autoAdress == undefined" (change)="uploadLogo($event)" class="ng-hide" id="input-file-id" multiple type="file" style="display: none;"/>
          Logo hochladen
        </label>

        <label for="input-file-hero" class="custom-file-upload">
          <input [disabled]="autoAdress == undefined" (change)="uploadLogo($event)" class="ng-hide" id="input-file-id" multiple type="file" style="display: none;"/>
          Weiteres Bild hochladen
        </label>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label> Anzahl Mitarbeiter </mat-label>
            <input matInput type="number" name="employeeCount" placeholder="z.B.: 10" ngModel>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Beschreibung</mat-label>
            <textarea matNativeControl  name="description" ngModel> </textarea>
        </mat-form-field>

        <button mat-button color="primary" type="submit">Standort anlegen</button>
    <br><br>
</form>

