.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

  .googleSearch{
    width: 90vw !important;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .uploadimage {
    width: 160px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
  }

  .custom-file-upload {
    border: 1px solid #e0e0e0;
    display: inline-block;
    padding: 10px 12px;
    cursor: pointer;
    width: 90vw;
    max-width: 270px;
    margin: 3px auto;
    border-radius: 4px;
    color: #656565;
  }
