<div>
    <!-- <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/search?q={{query}}&key={{apiKey}}" allowfullscreen></iframe> -->

    <p>{{merchantAdress}}</p>
</div>