<button style="right: 20px; position: fixed; font-weight: bold;" (click)="logout()">
  Logout
</button>
<button style="top: 100px; position: fixed; font-weight: bold;" routerLink="/addLocation">
  Neues Unternehmen hinzufügen
</button>