<div class="nav" routerLink="/*">
  <p>Zur Startseite</p>
</div>


<div class="mitte">
  <br><br><br>
  <br><br>
    <h2>Herzlich Willkommen!</h2>
    <p style="margin: 0 15px 20px;">Bitte melde dich mit deinem Unternehmerkonto an oder erstelle ein neues.</p>
    <br><br>
    <img src="/assets/pics/undraw_data_extraction_ih3n.svg" alt="login" width="200px">
    <br><br>
    <button mat-button appearance="outline" routerLink = "/register" id="greenButton">Registrieren</button><br>
    <button mat-button appearance="outline" routerLink = "/login">Login</button>
</div>
