<div class="nav" routerLink="/">
  <p>Zur Startseite</p>
</div>

<div>
  <br><br><br><br>
</div>


<div id="map"></div>
<mat-nav-list id="places">
    <a mat-list-item href="/m/ChIJkZGDs75RqEcR2Xn5wbwB9MY" *ngFor="let place of availablePlaces"> {{ place.name }} </a>
 </mat-nav-list>
