<div class="nav" style="z-index: 10;" routerLink="/leo">
  <p>Zurück zur Suche</p>
</div>

<div style="height: 100px;"></div>

<div class="mitte">

  <div>
      <!-- Logo rund wär nice -->
      <div >
          <img class="merchpic" src="{{merchantData?.logo || 'https://sector.ca/wp-content/uploads/2014/12/demo-img.png'}}"/>
          <h2 style="margin-top: 10px;"> {{merchantData?.name}}</h2>
      </div>

      <div *ngIf="merchantData?.website != null">
          <p><a href="{{ merchantData?.website }}">Unsere Webseite</a></p>
      </div>

      <div *ngIf="merchantData?.facebook != null">
          <p><a href="{{ merchantData?.facebook }}">Follow us on Facebook</a></p>
      </div>

      <div *ngIf="merchantData?.phone != null">
          <p><a href="phone://{{ merchantData?.tel }}">{{ merchantData?.tel }}</a></p>
      </div>

      <div *ngIf="merchantData?.description != null">
          <p>{{merchantData?.description}}</p>
      </div>

      <p>{{donationValue || "0"}} von {{merchantData?.maxvalue}} gespendet</p> <br>
      <!--
      <mat-progress-bar mode="determinate" [value]="(100 * donationValue) / merchantData"></mat-progress-bar>
          -->
      <button (click)="onSubmit(10, '')" type="button">Spende 10€</button>
      <button (click)="onSubmit(20, '')" type="button">Spende 20€</button> <br>

      <br>

      <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Freien Betrag eingeben</mat-label>
          <input matInput type="number" name="employeeCount" placeholder="z.B.: 50" min="1" max="10000" [(ngModel)]="customValue">
      </mat-form-field><br>
      <button mat-button (click)="onSubmit(0, 'custom')" [disabled]="customValue == undefined" type="button">Meinen Betrag spenden</button>

  </div>

<br><br>
  <div>
    <img width="100%" src="{{merchantData?.heroImg || 'https://sector.ca/wp-content/uploads/2014/12/demo-img.png'}}"/>
  </div>

</div>
