<div class="nav">
  <p style="font-weight: bold; color: rgb(54, 54, 54); cursor: default;">Ladenliebe</p>

  <button routerLink="/merchantRedirect">Für Unternehmen</button>
</div>

<div class="mitte" id="flexHome">

  <br><br>
  <div class="kacheln">
    <h2>Herzlich Willkommen bei Ladenliebe.</h2>
    <h3>Unterstütze deinen Lieblingsladen.</h3>

    <form #addLocationForm="ngForm" id="googleSearch">
      <mat-google-maps-autocomplete
        color = 'accent'
        appearance="outline"
        country="de"
        (onGermanAddressMapped)="onGermanAddressMapped($event)"
      >
      </mat-google-maps-autocomplete>
    </form>

    <button mat-button (click)="useCurrentLocation()">
      Meinen Standort verwenden
    </button><br>
    <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
    <button mat-stroked-button class="disclaimer" (click)="showDisclaimer()">
      Disclaimer
    </button>
  </div>

</div>
