h2 {
  font-size: 1.7rem;
  line-height: 1.5;
  color: #006D56;
}

.nav {
  button {
    position: fixed;
    right: 15px;
    background-color: rgb(245, 245, 245);
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: #1C698C;
    padding: 15px 30px;
    margin-top: -34px;
  }
}

.mitte {
  background-image: url(src/assets/pics/home-coffee.jpg);
  background-size: cover;
  height: 100vh;
}
#flexHome{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#googleSearch{
  width: 90vw !important;
  max-width: 300px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.kacheln {
  background-color: rgba(255, 255, 255, 0.86);
  padding: 30px 20px;
  margin: 0 20px;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0,0,0,.1);
}

.spinner {
 
}

.disclaimer {
  margin-top: 10px
}
