@import '~@angular/material/theming';

@include mat-core();

$my-theme-primary: mat-palette($mat-blue-grey);
$my-theme-accent: mat-palette($mat-blue-grey);

$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent);

@include angular-material-theme($my-theme);