/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.nav {
  position: fixed;
  width: 100vw;
  height: 70px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,.1);
  align-content: center;
  outline: none;

  p {
    margin: 26px 0 0 30px;
    font-size: 1rem;
    color: #656565;
    cursor: pointer;
  }
}

.mitte {
  text-align: center;
  place-items: center;
}

.kachel {
  padding: 20px;
  border: 1px solid grey;
}

button {
  padding: 12px 17px;
  background-color: #1C698C;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  outline: none;
}

.button-2 {
  background-color: rgb(255, 255, 255);
  border: 1px solid #1C698C;
  color: #1C698C;
}

.inflex {
  display: flex;
  flex-direction: column;
}

.mat-form-field-appearance-outline {
  width: 90vw;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.mat-form-field-wrapper {
  padding: 0;
}

.mat-button {
  padding: 6px !important;
  background-color: #1C698C;
  width: 90vw;
  max-width: 300px;
  margin-top: 10px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  color: white !important;
}

.mat-button:disabled {
  background-color: rgb(230, 230, 230);
}

center {
  text-align: center;
  justify-content: center;
}

.ng-tns-c76-14 {
  max-width: 230px;
}
